@charset "UTF-8";

article, aside, footer, header, main, nav, section{
	display: block;
}

html, body, h1, h3, ul, li, a, p, article, aside, footer, header, main, nav, section{
	padding: 0;
	margin: 0;
}

.banner{
	background-color: #f162ff;
	color: white;
	padding: 10px 20px;
}

body{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background: rgb(151,248,255);
	background: linear-gradient(180deg, rgba(151,248,255,1) 0%, rgba(255,153,204,1) 100%);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
}

nav{
	background-color: #9d16a9;
	padding: 10px;
	margin-top: 2px;

}

li a{
	color: white;
	
}

li{
	display: inline;
	margin-left: 15px;
	margin-right: 15px;
	font-variant: small-caps;
	font-weight: bold;
	
}

section{
	background-color: #c150b899;
	padding: 10px;
	margin-top: 10px;

}

article{
	background-color: white;
	margin-top: 15px;
	padding: 10px 15px;

}

main{
	width: 600px;
	float: left;
	margin-bottom: 10px;

}

aside{
	background-color: #c150b899;
	width: 300px;
	float: right;
	padding: 20px;
	margin-top: 10px;

}

footer{
	clear: both;
	background-color: #9d16a9;
	color: white;
	padding: 5px;
	
}

a:link {
	color: #8ab4f8;

}